{
  "releases": {
    "master-nightly": "D:\\mongodb\\mongodb-win32-x86_64-2008plus-master-nightly\\bin",
    "30-release": "D:\\mongodb\\mongodb-win32-x86_64-enterprise-windows-64-3.0.0-rc7\\bin",
    "26-release": "D:\\mongodb\\mongodb-win32-x86_64-enterprise-windows-64-2.6.7\\bin",
    "24-release": "D:\\mongodb\\mongodb-win32-x86_64-2008plus-2.4.8\\bin",
    "22-release": "D:\\mongodb\\mongodb-win32-x86_64-2008plus-2.2.6\\bin"
  },
  "last_updated": "2014-10-17 00:00:00.000000"
}
