{
  "releases": {
    "20-release": "/Users/gjm/10gen/mongodb-osx-x86_64-2.0.9/bin",
    "22-release": "/Users/gjm/10gen/mongodb-osx-x86_64-2.2.7/bin",
    "24-release": "/Users/gjm/10gen/mongodb-osx-x86_64-2.4.10/bin",
    "26-release": "/Users/gjm/10gen/mongodb-osx-x86_64-2.6.3/bin",
    "27-release": "/Users/gjm/10gen/mongodb-osx-x86_64-2.7.4/bin",
    "default": "/Users/gjm/10gen/mongodb-osx-x86_64-2.6.3/bin"
  },
  "last_updated": "2012-07-31 11:08:27.000000"
}
