{
  "releases": {
    "stable-release": "/mnt/jenkins/mongodb/stable/stable-release/bin",
    "legacy-release": "/mnt/jenkins/mongodb/legacy/legacy-release/bin",
    "unstable-release": "/mnt/jenkins/mongodb/unstable/unstable-release/bin",
    "default": "/usr/bin"
  },
  "last_updated": "2012-08-28 17:45:00.000000"
}