{
  "releases": {
    "20-release": "/mnt/jenkins/mongodb/20/20-release/bin",
    "22-release": "/mnt/jenkins/mongodb/22/22-release/bin",
    "24-release": "/mnt/jenkins/mongodb/24/24-release/bin",
    "26-release": "/mnt/jenkins/mongodb/26/26-release/bin",
    "27-nightly": "/mnt/jenkins/mongodb/master-nightly/master-nightly-release/bin"
  },
  "last_updated": "2012-08-28 17:45:00.000000"
}
